43 lines (43 sloc)  1.35 KB
  
{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/glucose/{{ glucose.id }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Entry</legend>
            <label class="form-label">Value:</label>
            <input 
                type="number" 
                name="value"
                value="{{ glucose.value }}"
                class="form-control"
            >
            <label class="form-label">Target: </label>
            <input 
                type="text" 
                name="target" 
                placeholder="{{ glucose.target }}"
                value="{{ glucose.name }}"
                class="form-control"
            >
            <label class="form-label">Notes:</label>
            <input 
                type="text" 
                name="notes" 
                placeholder="{{ glucose.notes }}" 
                value="{{ glucose.notes }}" 
                class="form-control"
            >

        </fieldset>
        <input type="submit" value="Edit Glucose" class="btn btn-success">
    </form>
</div>
{% endblock %}