{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">My Glucose Levels</h2>
    <!-- BUTTON TO CREATE A NEW GLUCOSE -->
    <a href="/glucose/new" button type="button" class="btn btn-primary">Add new </button></a>
    <div class="row">
        
        {% for glucose in glucoses %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ glucose.name }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Taken?: {{ glucose.taken }}
                </h5>
                <p class="card-text">
                    
                    Notes: {{ glucose.notes }}
                </p>
                <p class="card-text">
                    Dose: {{ glucose.dose }}
                </p>
                <a href="/glucoses/{{ glucose.id }}" class="btn btn-info">
                    View {{ glucose.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}