{% layout 'layout.liquid' %}
{% block content %}
<div class="row"></div>
<div class="container-md">
<div class="card" style="width: 50rem;">
<h5 class="card-header">{{ glucose.date }}</h5>
<div class="card-body">
    <article>
        <h2>
            {{ glucose.value }} -
        </h2>
        <h5>Target {{ glucose.target }}</h5>
        <h6>Notes: {{ glucose.notes }}</h6>
        {% if glucose.owner == userId %}
        <div class="btn-group">

            <a href="/glucose/{{ glucose.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/glucose/{{ glucose.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
</div>
</div>
{% endblock %}

