
  
{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/med/{{ med.id }}?_method=PUT" method="POST">
    <!-- <form action="/meds" method="POST"> -->
        <fieldset>
            <legend>Edit Entry</legend>
            <label class="form-label">Drug: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="{{ med.name }}"
                value="{{ med.name }}"
                class="form-control"
            >
            <label class="form-label">Notes:</label>
            <input 
                type="text" 
                name="notes" 
                placeholder="{{ med.notes }}" 
                value="{{ med.notes }}" 
                class="form-control"
            >
            <label class="form-label">Dose:</label>
            <input 
                type="number" 
                name="dose"
                value="{{ med.dose }}"
                class="form-control"
            >
            <label class="form-label">Taken:</label>
            <input 
                type="checkbox" 
                name="taken" 
                class="form-check-input"
                {% if med.taken %}
                    checked
                {% endif %}
            >
        </fieldset>
        <input type="submit" value="Edit Med" class="btn btn-success">
    </form>
</div>
{% endblock %}