{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">My Medications</h2>
    <!-- BUTTON TO CREATE A NEW MED -->


    <div class="row">
        
        {% for med in meds %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ med.date }}</h5>
            <div class="card-body">
                <p class="card-text">
                    Name: {{ med.name }} 
                </p>
               
                <p class="card-text">
                    Dose: {{ med.dose }} mg
                </p>
                <!-- <p class="card-text">
                    
                    Notes: {{ med.notes }}
                </p> -->
                <p class="card-text">
                    PM drug: {{ med.taken }}
                </p>
                <a href="/med/{{ med.id }}" class="btn btn-outline-primary">
                    View {{ med.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<a href="/med/new" button type="button" class="btn btn-secondary btn-lg btn-block">Add New Entry</button></a>
{% endblock %}

