{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ med.name }} -
            {% if med.taken %}
            taken
            {% else %}
            Not taken
            {%endif%}
        </h2>
        <h3>Dose: {{ med.dose }}</h3>
        <h6>Notes: {{ med.notes }}</h6>
        {% if med.owner == userId %}
        <div class="btn-group">

            <a href="/meds/{{ med.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/meds/{{ med.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}

